node_modules/

.env
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log
npm-audit-report.json

data

scripts
config
pids
*.pid
*.seed
*.pid.lock

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace